@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row login-dialog">

    <div class="login-main-body">
        <span class="login-title">Login to Your Account</span>
        <br />

        <div class="form-group">
            <input type="text" class="form-control input-fields-login" placeholder="Username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control input-fields-login" placeholder="Password">
        </div>

        <button type="button" class="btn btn-primary btn-lg login-button-style" id="login">Login</button>

    </div>
</div>


